@inject ReportService _service
@inject NavigationManager navigator

@rendermode InteractiveServer



<div class="card mt-3">

    <div class="card-header">
        A. Indikator Utama Kinerja
    </div>

    <table class="performance-table table">
        <thead>
            <tr>
                <th colspan="4">Indikator Utama Kinerja</th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Strategic Objective</th>
                <th>KPI</th>
                <th>Unit of Measurement</th>
                <th>Bobot (a) %</th>
                <th>Polarisasi</th>
                <th>Target</th>
                <th>Aktual</th>
                <th>Tingkat Unjuk Kerja (b)</th>
                <th>Nilai Unjuk Kerja (a x b)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (indikatorViewModel.Any())
            {
                @for (int i = 0; i < indikatorViewModel.Count; i++)
                {
                    var row = indikatorViewModel[i];
                    <tr>
                        <td>@(i + 1)</td> 
                        <td>@row.StrategicObjective</td>
                        <td>@row.KPI</td>
                        <td>@row.UnitOfMeasurement</td>
                        <td>@row.Bobot</td>
                        <td>@row.Polarisasi</td>
                        <td>@row.Target</td>
                        <td>@row.Aktual</td>
                        <td>@row.TingkatUnjukKerja</td>
                        <td>@row.NilaiUnjukKerja</td>
                        <td>
                            <a href="@($"/editmain/{row.Id}")" class="btn btn-primary">
                                Edit
                            </a>
                            <button class="btn btn-danger mt-1">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="11">No data Available</td> 
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">Nilai (A)</td>
                <td>@indikatorViewModel.Sum(row => row.NilaiUnjukKerja)</td>
            </tr>
        </tfoot>
    </table>
</div>

<button class="btn btn-primary mt-3" @onclick="CreateReportMain">Tambah</button>


@code {
    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public int Periode { get; set; }
    private List<MainIndikatorViewModel> indikatorViewModel { get; set; } = new();
    public int? No { get; set; }

    protected override void OnInitialized()
    {
        indikatorViewModel = _service.GetAllMainIndicatorByUser(Periode, UserId);
    }

    private void CreateReportMain()
    {

    }
    //sdw



}